{% extends 'get_sub_tipo.html' %}
{% block tittle %}Crear Actividad{% endblock %}
{% block contenido %}
    <div class="container" align="center">
        <br>
        <form method="post">
            {% csrf_token %}
            <label>
                Actividades
                <br>
                <br>
                <textarea maxlength="1500" class="form-control" rows="10" cols="150" name="observaciones_visita"
                          id="id_observaciones_visita"></textarea>
            </label>
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
        <br>
    </div>
{% endblock %}