{% extends 'get_sub_tipo.html' %}
{% block tittle %}Lista de Colegios{% endblock %}
{% block contenido %}
    <div class="container" align="center">
        <br>
        <div class="row">
            <div align="left" class="col-sm-6">
                <button type="button" class="btn btn-success" onclick="location.href='{% url 'create_cole' %}';">
                    Crear Colegio
                </button>
            </div>
            <div align="right" class="col-sm-6">
                <button type="button" class="btn btn-warning" onclick="location.href='{% url 'list_tipo' %}';">
                    Seleccionar Tipo
                </button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <table class="table table-sm my_table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre del Colegio</th>
                <th scope="col">Dirección</th>
                <th scope="col">Provincia</th>
                <th scope="col">Referencia</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"></th>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
            </tr>
            {% for cole in colegios %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td scope="col">{{ cole.nombre_colegio|default:"" }}</td>
                    <td scope="col">{{ cole.direccion|default:"" }}</td>
                    <td scope="col">{{ cole.provincia|default:"" }}</td>
                    <td scope="col">{{ cole.referencia|default:"" }}</td>
                    <td scope="col">{{ cole.telefono|default:"" }}</td>
                    <td scope="col">
                        <button class="btn btn-info" onclick="location.href='{% url 'detalle_cole' cole.pk %}';">
                            Información
                        </button>
                        <button class="btn btn-dark" onclick="location.href='{% url 'create_actividad' cole.pk %}';">
                            Agregar Acción
                        </button>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7" align="middle">No se encontrarón datos</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('.my_table').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });
        });
    </script>
{% endblock %}